h1 {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #426493;
  color: #ffffff;
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: #800000;
}
body {
  font-family: Helvetica;
  color: #2952a3;
}
.Abschnitt2 {
  background-color:  #ffff99;
  color: #cc0066;
}
